
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,NC,L]

# USAGE
# RewriteRule [Pattern] [Substitution] [Flags]

# FLAGS
# QSA = QueryStringAppend (combine new and old queryStrings together)
# NC = non case-sensitive
# L = Last (rewriting should stop here in case there are any other rules defined)